{% extends "common.html" %}
{% block title %}
Categories: {{super()}}
{% endblock %}

{% block content %}
<div class="pt-md-5 pt-0" id='categories' style='background-color: black'>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-dark">
        <button type="button" class="close" data-dismiss="alert"> &times; </button> {{ message }} </div>
    {% endfor %}
    <h1 class="text-light mb-5 pt-4 px-2 text-uppercase text-center heading">Categories
    </h1>
    {# {% if categories %} #}
    <div class="container pb-5">
        <a href="/category/Top%20Rated" class="text-dark text-center">
            <p class="random-color bg-light py-4 text-center border-light border px-5 my-2">Top Rated
            </p>
        </a>
        <a href="/category/Most%20Downloaded" class="text-dark text-center">
            <p class="random-color bg-light py-4 text-center border-light border px-5 my-2">Most Downloaded
            </p>
        </a>
        <div class="row">
            {% for i, category in enumerate(categories) %}
            <a class="text-dark col-12 col-md-6 text-center mx-auto" href='/category/{{category.get("category")}}'>
                <p class="m-2 p-5 random-color bg-light">{{category.get('category')| title}}</p>
            </a>
            {% endfor %}
        </div>

    </div>
</div>
{# {% endif %} #}
</div>
{% endblock %}
{% block styles %}
{{super()}}

<style>
    .random-color {
        font-size: 2rem;
        font-weight: bold;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
        transition: all 400ms ease-in-out;
        border-radius: 1rem;
    }

    .heading{
        font-size: 4rem;
    }
    .random-color:hover {
        color: white;
        box-shadow: 0px 0px 20px red;
        letter-spacing: 0.4rem;
        background-color: black !important;
        backdrop-filter: contrast(70%);
    }
</style>
{% endblock %}