{% extends "common.html" %}
{% block title %}
    {{userData.get('name')|title}} - {{super()}}
{% endblock %}

{% block content %}
    {% if userData.get('coverPhoto') != None %}
        {% set coverPhoto = userData.get('coverPhoto') %}
    {% else %}
        {% set coverPhoto = url_for('static', filename='images/profile/cover.jpg') %}
    {% endif %}
    <div class="cover-photo center-everything" style = "background-image: url({{coverPhoto}})">

        <div class="slideInRight animated" >
            {% if userData.get('profilePicture') == None %}
                {% if userData.get('gender') == 'M' %}
                    <img class= 'profile-picture mx-auto d-block' src="{{url_for('static', filename='images/profile/profile_male.jpg')}}" alt="Profile Picture" id="profile-Picture-main">
                {% else %}
                    <img class= 'profile-picture mx-auto d-block' src="{{url_for('static', filename='images/profile/profile_female.jpg')}}" alt="Profile Picture" id="profile-Picture-main">
                {% endif %}

            {% else %}
            <img class= 'profile-picture mx-auto d-block' src="data:image/jpg;base64,{{userData.get('profilePicture')}}" alt="Profile Picture" id="profile-Picture-main">
            {% endif %}
        </div>

    </div>

    <div class="hide" id = 'popoverContent' style="display:none;">
        <li>
            <button class="btn btn-outline-dark popli" onclick="$('#imgupload').trigger('click'); return false;" data-toggle="modal" data-target="#myModal">
                Change Profile Picture
            </button>
        </l1>
        <br>
        <hr class='my-0'>
        <li>
            <button class="btn btn-outline-dark popli" onclick="RemoveProRequest()">
                Remove Profile Picture
            </button>
        </li>
    </div>

      <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">

          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Profile Picture</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            <div class="modal-body">

                 <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div id="upload-demo" style="width:350px"></div>
                        </div>
                        <div class="col-sm-12" style="padding-top:30px;">
                            <strong>Select Image:</strong>
                            <br/>
                            <input class="btn btn-outline-dark" type="file" accept="image/*" id="upload" placeholder="Choose file">
                            <br/>
                            <button class="btn btn-outline-dark upload-result">Upload Image</button>
                        </div>
                        
                    </div>
                </div>
            </div>

      </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
    </div>

    <div class="container d-block">
        <h1 class="display-4 text-center mt-4 slideInLeft animated">{{userData.get('name')|title}}</h1>
        <hr style="width: 50%" class="mt-0">
        <div class="mt-5">

            {% if userData.get('about', None) != None or session.get('_cu', None) != None%}
            <div class="row justify-content-center text-center mb-3">
                <div class="col">
                    {% if userData.get('about', None) != None %}
                    <p class="legend" style="font-size: 2em;">{{userData.get('about')}}</p>
                    {% else %}
                    <p class="legend muted" style="font-size: 2em;">Write Something about You</p>
                    {% endif %}
                </div>
            </div>
            {% endif %} 
            <div class="row justify-content-center">
                <div class="col-12 col-sm-4 text-center">
                    <h3 class="display-5 py-1">Member Since</h3>    
                    {# true doesn't display any suffix in the time #}
                    <p>{{moment(current_time).fromTime(userData.get('createdAt'),true, refresh=True)}}</p>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <h3 class="display-5 py-1">Gender</h3>    
                    <p class='legend'>{{userData.get('gender')}}</p>
                </div>
            </div>
            <div class='row justify-content-center'>
                <div class="col-12 col-sm-4 text-center">
                    <h3 class="display-5 py-1">Age</h3>    
                    <p class='legend'>{{userData.get('age')|int}}</p>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <h3 class="display-5 py-1">Email Address</h3>    
                    <p class='legend'>{{userData.get('email')}}</p>
                </div>
            </div>
        <hr>
        {% if userData.get('totalUploads') != 0 %}
            <div class="row justify-content-center">
                <div class="col-12 col-sm-4 text-center">
                    <h3 class="py-1">Total Uploads</h3>
                    <p class="legend">{{userData.get('totalUploads')|int}}</p>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <h3 class="py-1">Number of Downloads</h3>
                    <p class="legend">{{userData.get('totalDownloads')|int}}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-4 text-center">
                    <h3 class="py-1">Total Upvotes</h3>
                    <p class="legend">{{userData.get('totalUpvotes')|int}}</p>
                </div>
            </div>
        {% endif %}
        <hr>
        <h2>Uploads</h2>
        <div class="col-md-12">
            <div class="masonry">

            </div>
            <p id='fin' class="d-none text-center">Content Loaded</p>
            <div class='d-flex justify-content-center' id='loadingImgs'>
                <img src="{{url_for('static', filename = 'images/loadingImgs.gif')}}" alt="Loading More Images.." width="25%">
            </div>
        </div>
        </div>
    </div>


   {#  <div class="container">
        {% if session.get('_cu') != None %}
            {% for i in userData.items() %}
                <h1>{{i}}</h1>
            {% endfor %}
        {% endif %}
    </div> #}
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        var finished = false;
        var loading_ = false;
        var skip = 0;
        var lastskip = 0;

        if (skip == 0){
            loadImages({username : '{{userData.get('username')}}'});
            console.log('loading_ for first time');
        }
        $(document).ready(function(){ 
            $(document).scroll(function(e){
                if($(window).scrollTop() + $(window).height() > $(document).height() - 200 && !(loading_) ){
                    if (!(finished) && !(loading_) && skip != lastskip){
                        console.log('calling loadImages, \n current skip :' + skip);
                        lastskip = skip;
                        loadImages({skip : skip, username : '{{userData.get('username')}}'});
                    }
                }
            });
            {% if userData.get('username') == current_usr.get('username', None) %}
                $('.profile-picture').popover(
                {
                    title: "",
                    content: $('#popoverContent').html(),
                    html: true,
                    placement: "auto"
                });

                $('.profile-picture').css({'cursor': 'pointer'});
            {% endif %}

        });  
    </script>
    {% if userData.get('username') == current_usr.get('username', None) %}
    <script>
        

        setTimeout(function () {
                $('.profile-picture').popover('hide');
            }, 2000);


        $('#profile-Picture-main').click(function (e) {
            e.stopPropagation();
        });

        $(document).click(function (e) {
            if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
                $('#profile-Picture-main').popover('hide');
            }
        });

        $(document).on('click','.popli',function(){
            // console.log('worked!');
            $('#profile-Picture-main').popover('hide');
        });


        $uploadCrop = $('#upload-demo').croppie({
            enableExif: true,
            viewport: {
                width: 200,
                height: 200,
                type: 'circle'
            },
            boundary: {
                width: 300,
                height: 300
            }
        });


        $('#upload').on('change', function () { 
            var reader = new FileReader();
            reader.onload = function (e) {
                $uploadCrop.croppie('bind', {
                    url: e.target.result
                }).then(function(){
                    console.log('jQuery bind complete');
                });
                
            }
            reader.readAsDataURL(this.files[0]);
        });


        $('.upload-result').on('click', function (ev) {
            loading();
            $uploadCrop.croppie('result', {
                type: 'canvas',
                size: 'original'
            }).then(function (resp) {
                $.ajax({
                    url: "/upload/profilePicture",
                    type: "POST",
                    data: {"image":resp},
                    // dataType: 'json',
                    // content: 'application/base64',
                    success: function (data) {
                         window.location.reload();
                    }
                });
            });
        });

        function RemoveProRequest(){
            $.post("/remove/profilePicture",
            {
                removeProPic: true
            },
            function(data, status){
                window.location.reload()
            });
        };
    </script>

    {% endif %}
{% endblock %}